
#clock {
    border: 2px black solid;
    height: 600px;
    width: 600px;
    position: relative;
    margin: 50px auto 0 auto;
}

#face {
    position: absolute;
}

#hour {
    position: absolute;
    transform: rotate(45deg);
}

#minute {
    position: absolute;
    transform: rotate(45deg);
}

#second {
    position: absolute;
    transform: rotate(45deg);
}
